.estructurados {
  list-style-type: square;
  color: blue;
}

.objetos {
  list-style-type: circle;
  color: red;
}

/*-----------------------------------*/

.dentro {
  list-style-position: inside;
  width: 200px;
}

.fuera {
  list-style-position: outside;
  width: 200px;
}

/*-----------------------------------*/

.pokemon {
  list-style-image: url("https://img.icons8.com/color/15/000000/pokeball--v1.png");
}

.pokemon2 {
  list-style-image: url("https://cdn-icons-png.flaticon.com/16/287/287221.png");
}
