.tabla-ejercicio3 {
    background-color: lightblue;
    border: 3px solid yellow;
    font-size: 24px;
}

.tabla-ejercicio3 td { border: 2px solid yellow; }

.tabla-ejercicio3 td:nth-child(even) { color: red; }
.tabla-ejercicio3 td:nth-child(odd) { color: white; }
.tabla-ejercicio3 td:nth-child(5n) { text-decoration: underline; }
.tabla-ejercicio3 td:nth-child(n+11) { background-color: orange; }

