/* COLORES Y CONTENEDORES */
.solucion {
  background-color: #0bb !important;
  padding: 10px;
}

.solucion div {
  background-color: #ff0;
  border: 1px solid #000;

    margin: 10px;
  padding: 10px;
}

/* TABLAS BORDES */
.clase1 {
  border-width: 10px;
}
.clase2 {
  border-color: #0f0;
}
.clase3 {
  border: dotted #f00;
}

/* 1 */
[align] {
  text-decoration: underline;
  font-size: 30px;
}

/* 2 */
.clase1 td {
  color: red;
}

/* 3 */
.clase3 td {
  background-color: lightblue;
}

/* 4 */
div[align="center"] {
  background-color: orange;
}

div[align="center"] a {
  color: #fff;
  background-color: #000;
  padding: 5px;
  text-decoration: none;
}

/* 5 */
[type="circle"] li {
  border: 2px solid blue;
  background-color: lightblue;
  padding: 10px;
  list-style-position: inside;
}
